*{list-style-type: none;
padding: 0;
margin: 0;
background-color: aliceblue;}
.navbar{;
    padding: 30px  30px !important}
    .d-block{height: 400px;}
    .contener{text-align: center;
}
.salid{padding: 10px;}
#col{margin: 20px;
display: inline-block;
text-align: center;}
.card-heder{
padding-bottom: 0px;
}

.portfolio{display: flex;
flex-wrap: wrap;
justify-content: space-between;
text-align: center;}
.service{text-align: center;}
.footer{text-align: center;
  border: 1px solid;
}
#flex{border: 2px solid red ;
  display:inline ;
  margin: 40px;
  text-align: center;
  width:500px;
  padding:  ;

 }
 h2{padding-bottom: 0px;
background-color:silver;}
 

/*-------------------- about-------------------- */  
    .inner{
    padding: 20px  20px   100px  10px;
    text-align: center;
margin-top: 30px;
width: auto;
border: 3px solid silver;}

  p{text-align: center;
    
}
  span{align-items: center; 
  display: block;}
  .shahrah{text-align: center;
  margin: 60px;}
  .aks{justify-content: space-around;
  display: flex;
 flex-wrap: wrap;}

 .book{width: 200px;
height: 200px;
border-radius: 100%;
background-size:cover ;
 }
 h1{text-align: center;
margin: 20px;}
.carousel-item {text-align: center;}


/*-------------- serwess---------------*/

#anemashan{border: 2px solid;
  display: inline-block;
  margin: 10px;
  text-align: center;
  width:370px 

}
#row1{text-align: center;
padding-left: 50px;}

.hom{margin-left:80px;
margin-right: 70px;}

.pricing{margin-bottom: 40px;
padding-left: 70px;
padding-right: 70px;
margin: 10px;}
.pricing-colls{border: 1px solid;
text-align: center;
display: inline-block;
padding: 10px;
margin: 40px;}


.button{background-color: black;
color: aliceblue;
padding: 5px;
margin: 5px;
}

h5{padding: 10px;}
.footer{text-align: center;}


/*-------------------- contact------------------------*/
.input{padding: 15px;
width: 100%;}

input[type="submit"]{border: 2px;
  border-radius: 20px;
margin: 15px; background-color: aqua;
width: 50px;}

  
}



  








